<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" style="min-height:100%;background:#f3f3f3">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body
    style="min-width:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;width:100% !important">
    <div class="preheader"
        style="visibility:hidden;opacity:0;color:transparent;height:0;width:0;font-size:0px;mso-hide:all;display:none !important">
    </div>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">


    <table dir="ltr" class="body"
        style="border-spacing:0;border-collapse:collapse;vertical-align:top;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;background:#f3f3f3;height:100%;width:100%;color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;margin-bottom:0px !important;background-color: white">
        <tr style="padding:0;vertical-align:top;text-align:left">
            <td class="center" align="center" valign="top"
                style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;vertical-align:top;color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;border-collapse:collapse !important">
                <center style="width:100%;min-width:580px">


                    <table class="container"
                        style="border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;background:#fefefe;width:580px;margin:0 auto;text-align:inherit;max-width:580px;">

                        <!-- <![endif]-->
                        <tr style="padding:0;vertical-align:top;text-align:left">
                            <td
                                style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;vertical-align:top;color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;border-collapse:collapse !important">
                                <div>
                                    <table class="row"
                                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                                        <tr class="" style="padding:0;vertical-align:top;text-align:left">
                                            <th class="columns first large-12 last small-12"
                                                style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;text-align:left;font-size:16px;line-height:19px;margin:0 auto;padding-bottom:16px;width:564px;padding-left:16px;padding-right:16px">
                                                <a href="javascript:0;"
                                                    style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;line-height:1.3;color:#FC4C02;text-decoration:none">
                                                    <h2 style="border:none;padding-bottom:10px;padding-top:20px">
                                                        Rhema Rapha Medical Center
                                                    </h2>
                                                </a>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                                <% if (appointment_detail) { %>
                                <div style="padding-bottom:16px">
                                    <table class="row"
                                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                                        <tr class="" style="padding:0;vertical-align:top;text-align:left">
                                            <th class="columns first large-12 last small-12"
                                                style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;text-align:left;font-size:16px;line-height:19px;margin:0 auto;padding-bottom:16px;width:564px;padding-left:16px;padding-right:16px">
                                                <p class="body  body-lg  body-link-rausch light text-left   "
                                                    style='padding:0;margin:0;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif;font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;text-align:left;margin-bottom:10px !important;'>
                                                    <span style="font-size: 30px;
                                                    text-align: center;
                                                    color: #FC4C02 ;
                                                    font-family: 'Niconne', cursive;
                                                    font-weight: 700;">Hello,</span>
                                                    <span style="font-size: 20px;">
                                                        <%= appointment_detail.patientFullName %></span>
                                                </p>
                                                <p class="body  body-lg  body-link-rausch light text-left   "
                                                    style='padding:0;margin:0;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif;font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;text-align:left;margin-bottom:0px !important;'>

                                                    This is to remind you of your appointment with
                                                </p>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <table class="row"
                                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                                        <tr class="" style="padding:0;vertical-align:top;text-align:left">
                                            <th class="columns first large-12 last small-12"
                                                style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;text-align:left;font-size:16px;line-height:19px;margin:0 auto;padding-bottom:16px;width:564px;padding-left:16px;padding-right:16px">
                                                <div class="account-alert-card account-alert-card-border"
                                                    style="border-radius:4px;border-color:#dbdbdb;border-width:1px;border-style:solid">
                                                    <div class="account-alert-card-with-padding"
                                                        style="padding-top:36px;padding-bottom:20px;padding-left:36px;padding-right:36px">

                                                        <p
                                                            style='color:#0a0a0a;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;margin-bottom:10px;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif'>
                                                            <span class="body body-lg bold"
                                                                style="font-weight:bold;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;margin-bottom:0px !important;">
                                                                <%= appointment_detail.doctorFullName %>
                                                            </span>
                                                        </p>
                                                        <hr class="full-divider"
                                                            style="max-width:580px;border-right:0;border-top:0;border-bottom:1px solid #FC4C02;border-left:0;margin:20px auto;clear:both;background-color:#FC4C02;height:1px;border:none;width:50%;margin-top:0;margin-bottom:15px">
                                                        <p
                                                            style='color:#0a0a0a;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;margin-bottom:10px;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif'>
                                                            <span class="body body-lg bold"
                                                                style="font-weight:bold;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;margin-bottom:0px !important">
                                                                On
                                                            </span>
                                                            <span class="body body-lg light"
                                                                style="font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;margin-bottom:0px !important">
                                                                <%= appointment_detail.date.toDateString() %>
                                                            </span>
                                                        </p>
                                                        <p
                                                            style='color:#0a0a0a;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;margin-bottom:10px;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif'>
                                                            <span class="body body-lg bold"
                                                                style="font-weight:bold;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;margin-bottom:0px !important">
                                                                At
                                                            </span>
                                                            <span class="body body-lg light"
                                                                style="font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;margin-bottom:0px !important">
                                                                <%= appointment_detail.appointmentTime %>
                                                            </span>
                                                        </p>
                                                        <hr class="full-divider"
                                                            style="max-width:580px;border-right:0;border-top:0;border-bottom:1px solid #FC4C02;border-left:0;margin:20px auto;clear:both;background-color:#FC4C02;height:1px;border:none;width:50%;margin-top:0;margin-bottom:0;margin-bottom:15px">
                                                        <p
                                                            style='color:#0a0a0a;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;margin-bottom:10px;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif;'>
                                                            <span class="body body-lg bold"
                                                                style="font-weight:bold;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;margin-bottom:0px !important;">
                                                                Contacts
                                                            </span>
                                                        </p>
                                                        <p
                                                            style='color:#0a0a0a;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;margin-bottom:10px;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif'>
                                                            <span class="body body-lg bold"
                                                                style="font-weight:bold;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;margin-bottom:0px !important">
                                                                Phone :
                                                            </span>
                                                            <span class="body body-lg light"
                                                                style="font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;margin-bottom:0px !important">
                                                                <%= appointment_detail.doctorPhoneNumber %>
                                                            </span>
                                                        </p>

                                                        <p
                                                            style='color:#0a0a0a;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;margin-bottom:10px;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif'>
                                                            <span class="body body-lg bold"
                                                                style="font-weight:bold;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;margin-bottom:0px !important">
                                                                Email :
                                                            </span>
                                                            <span class="body body-lg light"
                                                                style="font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;margin-bottom:0px !important">
                                                                <%= appointment_detail.email %>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <hr class="full-divider"
                                                        style="max-width:580px;border-right:0;border-top:0;border-bottom:1px solid #FC4C02;border-left:0;margin:20px auto;clear:both;background-color:#FC4C02;height:1px;border:none;width:100%;margin-top:0;margin-bottom:0">

                                                </div>
                                            </th>
                                        </tr>
                                    </table>
                                </div>

                                <% } %>

                                <div style="padding-top:48px">
                                    <table class="row"
                                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
                                        <tr class="" style="padding:0;vertical-align:top;text-align:left">
                                            <th class="columns first large-12 last small-12 standard-footer-padding"
                                                style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;text-align:left;font-size:16px;line-height:19px;margin:0 auto;padding-bottom:16px;width:564px;padding-left:16px;padding-right:16px">
                                                <div class="">
                                                    <hr class="standard-footer-hr"
                                                        style="max-width:580px;border-right:0;border-top:0;border-bottom:1px solid #FC4C02;border-left:0;clear:both;background-color:#FC4C02;height:2px;width:100%;border:none;margin:auto">
                                                    <div class="row-pad-bot-4" style="padding-bottom:32px">
                                                    </div>
                                                    <p class="standard-footer-text "
                                                        style='padding:0;margin:0;text-align:left;margin-bottom:10px;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif;color:#9ca299;font-size:14px;text-shadow:0 1px #fff;font-weight:300;line-height:1.4'>
                                                    </p>
                                                    <p class="standard-footer-text center "
                                                        style='padding:0;margin:0;text-align:left;margin-bottom:10px;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif;color:#9ca299;font-size:14px;text-shadow:0 1px #fff;font-weight:300;line-height:1.4'>
                                                        Sent with ♥ from Rhema Rapha Medical Center
                                                    </p>
                                                    <p class="standard-footer-text "
                                                        style='padding:0;margin:0;text-align:left;margin-bottom:10px;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif;color:#9ca299;font-size:14px;text-shadow:0 1px #fff;font-weight:300;line-height:1.4'>
                                                        ‌Behind the Trade Fair close to the Bake Shop

                                                    </p>
                                                    <p class="standard-footer-text"
                                                        style='padding:0;margin:0;text-align:left;margin-bottom:10px;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif;color:rgb(20, 20, 20);font-size:14px;text-shadow:0 1px #fff;font-weight:300;line-height:1.4'>
                                                        ‌rhemaraphamedicalcentre@gmail.com,
                                                        0302 792 076 / 0505 162

                                                    </p>

                                                    <p class="standard-footer-text "
                                                        style='padding:0;margin:0;text-align:left;margin-bottom:10px;font-family:"Cereal", "Helvetica", Helvetica, Arial, sans-serif;color:#9ca299;font-size:14px;text-shadow:0 1px #fff;font-weight:300;line-height:1.4'>
                                                    </p>
                                                </div>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>


</body>

</html>